@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=EB+Garamond:ital@1&family=Lato:wght@100&family=Poiret+One&family=Shadows+Into+Light&display=swap');

* {
    font-family: "Garamond", "sans-serif";
}

body {
    display: flex;
    justify-content: center;
    background-color: rgb(153, 104, 40);
}

.app {
    width: 600px;
}

h1 {
    font-size: 2.5rem;
    line-height: 1.05;
    text-align: left;
}

h2 {
    font-size: 3.5rem;
    line-height: 1.05;
    text-align: center;
}

h3 {
    margin: 10px;
}

p {
    font-size: 1.125rem;
    line-height: 1.2;
}

img {
    width: 75%;
    margin-top: 30px;

}

.title-block {
    width: 400px;
    height: 175px;
    background-color: rgb(48, 48, 208);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(135, 231, 164);
    margin-left: 20%;
}

.questions-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.question-block {
    width: 286px;
    overflow: hidden;
    background-color: rgb(47, 194, 47);
    border-radius: 15px;
    box-shadow: rbga(0,0,0,0,0.07) 0 0 0 1px;
    text-align: center;
    margin-bottom: 15px;
    border: none;
    padding: 0;

}

.question-block p {
    font-size: 0.8rem;
    font-style: italic;
}

.question-block a {
    color: rbg(316, 316, 316);
    text-decoration: none;

}